.works{
    background-color: mediumvioletred;    
    display: flex;
    align-content: center;
    flex-direction: row;
    user-select: none;
}
h1{
    color: white;
}
p{
    color: white;
    font-size: 170%;

}
.text{
    background-color: mediumvioletred;    
    height: 100%;
    width: 500px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.slides{
    display: flex;
    flex-direction: row;
    height: 100%;
    .buttons{
        height: 100%;
        width: 75.4%;
        z-index: 1;
        display: flex;
        position: absolute;
        align-items: center;
        z-index: 2;
        justify-content: space-between;
        .button{
            transition: ease 0.5s;
            line-height: 110%;
            text-align: center;
            font-size: 200%;

            display: inline-block; 
            margin-inline: 2%;
            padding: 0px 0px;
            
            border:none;
            height: 5%;
            width: 3%;
            
            overflow-y: hidden;
            
            border-radius: 10%;
            background-color: rgb(214, 39, 214);
            color: white;
        }
        .button:hover{
            transition: ease 0.1s;
            background-color: rgb(182, 31, 182);
            
        }
        .left:hover{
            transform: translateX(-15%);
        }
        .right{
            z-index: 3;
        }
        .right:hover{
            transform: translateX(15%);
        }
    }
    img{
        width: fit-content;
    }
}

@media only screen and (max-width: 1600px){
    .slides{
        .buttons{
            width: 73.5%;
        }
    }
}

@media only screen and (max-width: 800px) {
    .works{
        flex-direction: column;
    }
    .text{
        height: 60%;
    }
    h1{
        font-size: 250%;
    }
    p {
      font-size: 150%;
    }
    .text{
        width: fit-content;
        justify-content: start;
    }
    .slides{
        .buttons{
            align-content: center;
            width: 100%;
            height: 10%;
        }
    }
  }